<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照します。 -->
    <!-- stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照するようになります。 -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %> <!-- ログイン済みならばtrue -->
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "books", books_path %>
        </li>
        <li>
          <!-- link_to ヘルパーの method オプションを設定して、ログアウトリンクを作成します。 -->
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
        <% else %>　<!-- ログインしていなければfalse-->
        <li>
          <%= link_to "Bookers", root_path %>
        </li>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
        <% end %>
    </header>
    <%= yield %>
  </body>
</html>
